venv/
  __pycache__/                                                                                   
  credentials/                                                                                 
  *.pyc
  .env
  
